{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block title %}{{app_name}}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Home</li>
{% endblock %}


{% block page_content %}


  <div><h1>Welcome to {{ user_manager.USER_APP_NAME }}!!</h1></div>
  <p>(Administrator username and password is admin@example.com with password Password1)<p>
    <div><h3>Links for testing roles:</h3>
    <ul>
      <li><a href="{{ url_for('main.admin_super_user_or_admin') }}" >Requires admin OR super_user role</a></li>
      <li><a href="{{ url_for('main.admin_super_user_and_admin') }}" >Requires admin AND super_user role</a></li>
      <li><a href="{{ url_for('main.admin_reg_user') }}" >Requires reg_user role</a></li>
    </ul>
  </div>
{% endblock %}

