{% extends "main/main_base.html" %} {# main/main_base.html extends layout.html #}

{% block title %}{{app_name}}{% endblock %}

{% block navbar %}overriding the nav bar...
{% endblock %}
{% block body %}

{% block page_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<link rel="stylesheet" href="/static/css/schedule_style.css">
<script src="/static/js/schedule.js"></script>

<h1>Schedule Page</h1>
<button onclick="getSched()">Click here to load sched...</button>

<div class="schedule" aria-labelledby="schedule-heading" id="schedArea">

    <span class="track-slot" aria-hidden="true"
        style="grid-column: mon-1-start / mon-2-end;; grid-row: tracks;">Monday</span>
    <span class="track-slot" aria-hidden="true"
        style="grid-column: tue-1-start / tue-2-end; grid-row: tracks;">Tuesday</span>
    <span class="track-slot" aria-hidden="true"
        style="grid-column: wed-1-start / wed-2-end; grid-row: tracks;">Wednesday</span>
    <span class="track-slot" aria-hidden="true"
        style="grid-column: thu-1-start / thu-2-end; grid-row: tracks;">Thursday</span>
    <span class="track-slot" aria-hidden="true"
        style="grid-column: fri-1-start / fri-2-end; grid-row: tracks;">Friday</span>



    <h2 class="time-slot" style="grid-row: time-0800;">8:00am</h2>
    <h2 class="time-slot" style="grid-row: time-0830;">8:30am</h2>
    <h2 class="time-slot" style="grid-row: time-0900;">9:00am</h2>
    <h2 class="time-slot" style="grid-row: time-0930;">9:30am</h2>
    <h2 class="time-slot" style="grid-row: time-1000;">10:00am</h2>
    <h2 class="time-slot" style="grid-row: time-1030;">10:30am</h2>
    <h2 class="time-slot" style="grid-row: time-1100;">11:00am</h2>
    <h2 class="time-slot" style="grid-row: time-1130;">11:30am</h2>
    <h2 class="time-slot" style="grid-row: time-1200;">12:00pm</h2>
    <h2 class="time-slot" style="grid-row: time-1230;">12:30pm</h2>
    <h2 class="time-slot" style="grid-row: time-1200;">12:00pm</h2>
    <h2 class="time-slot" style="grid-row: time-1230;">12:30pm</h2>
    <h2 class="time-slot" style="grid-row: time-1300;">1:00pm</h2>
    <h2 class="time-slot" style="grid-row: time-1330;">1:30pm</h2>
    <h2 class="time-slot" style="grid-row: time-1400;">2:00pm</h2>
    <h2 class="time-slot" style="grid-row: time-1430;">2:30pm</h2>
    <h2 class="time-slot" style="grid-row: time-1500;">3:00pm</h2>
    <h2 class="time-slot" style="grid-row: time-1530;">3:30pm</h2>
    <h2 class="time-slot" style="grid-row: time-1600;">4:00pm</h2>
    <h2 class="time-slot" style="grid-row: time-1630;">4:30pm</h2>
    <h2 class="time-slot" style="grid-row: time-1700;">5:00pm</h2>

    <!-- Below models what the Javascript builds: -->
    <!-- 
        
        <h2 class="day">Monday</h2>


    <div class="session tutor-1" style="grid-column: mon-1-start / mon-1-end; grid-row: time-0800 / time-0900;">
        <h3 class="session-lead"><a href="#">Brendan K.</a></h3>
        <span class="session-time">8:00 - 9:00</span>
    </div>

    <h2 class="day">Tuesday</h2>

    <div class="session  tutor-3" style="grid-column: tue-1-start / tue-1-end; grid-row: time-0800 / time-0830;">
        <h3 class="session-lead"><a href="#">Joseph H.</a></h3>
        <span class="session-time">8:00 - 8:30</span>
    </div>

    -->
</div>

<script>
    function getSched() {
        var tutorId = 1;
        var urlVar = '/schedule_json?tutor_id=' + tutorId;
        var request = new Request(urlVar, {
            method: 'GET'
        });
        fetch(request)
            .then((response) => {
                return response.json();
            })
            .then((resp) => {
                populateSched(resp)
            })
            .catch((err) => {
                alert('Error: ' + err.message);
            });
    }

    // populates the schedule with the times when the tutor teaches
    function populateSched(slotArray) {
        calculateSlotAlignment(slotArray);

        var previousDay="-1"
        for (let x = 0; x < slotArray.length; x++) {

            if (previousDay != slotArray[x].day){
                var divvy = document.createElement('div');
                divvy.setAttribute('class', "day");
                divvy.innerHTML = dayOfWeekLongFormat[slotArray[x].day];
                document.getElementById('schedArea').appendChild(divvy);
                previousDay = slotArray[x].day;
            }


            var divVar = document.createElement('div');

            divVar.setAttribute('class', tutorColor(slotArray[x].id));
            divVar.setAttribute('style', createStyle(slotArray[x]))

            divVar.innerHTML = '<h3 class="session-lead"><a href="#">' + slotArray[x].tutor_first_name + " " +
                slotArray[x].tutor_first_name.charAt(0) + "." + ' </a></h3><span class="session-time">' + slotArray[x]
                .time_start.substring(0, 5) + "-" + slotArray[x].time_end.substring(0, 5) + '</span>';
            document.getElementById('schedArea').appendChild(divVar);
             
        }

    }

    function calculateSlotAlignment(slotArray) {
        var foo = slotArray.filter(addAlignmentAttr);
        slotArray.forEach(assignAlignmentValue)
    }

    function assignAlignmentValue(slot, index, slotArray){
        for (let y = 0; y < slotArray.length; y++) {
                if (slot.id != slotArray[y].id) {
                    if (slot.day == slotArray[y].day) {
                        if ((parseTime(slot.time_start) < parseTime(slotArray[y].time_end)) && (parseTime(
                                slot.time_end) > parseTime(slotArray[y].time_start))) {
                            if (slotArray[y].alignment == 'left') {
                                slot.alignment = 'right';
                            } else {
                                slot.alignment = 'left';
                            }
                        }
                    }
                }


            }
    }

    // turns time into a number by getting rid of the colons
    function parseTime(time) {
        time = parseInt(time.replace(/:/g, ""));
        time = time / 100;
        return time;
    }

    function addAlignmentAttr(obj) {
        obj.alignment = 'span';
        return obj;
    }

    function createStyle(slot) {
        var styleStr = "grid-column: " + " " + dayOfWeek[slot.day] + "-" + coordLeft[slot.alignment] + " / " +
            dayOfWeek[slot.day] + "-" + coordRight[slot.alignment] + ";"
        styleStr = styleStr + "grid-row: time-" + trimEnd(slot.time_start) + " / time-" + trimEnd(slot.time_end) + ";"
        return styleStr;
    }
    var dayOfWeek = {
        1: 'mon',
        2: 'tue',
        3: 'wed',
        4: 'thu',
        5: 'fri'
    }
    var dayOfWeekLongFormat = {
        1: 'Monday',
        2: 'Tuesday',
        3: 'Wednesday',
        4: 'Thursday',
        5: 'Friday'
    }
    
    var coordLeft = {
        span: "1-start",
        left: "1-start",
        right: "2-start"
    }
    var coordRight = {
        span: "2-end",
        left: "1-end",
        right: "2-end"
    }

    function trimEnd(timeStr) {
        timeStr = timeStr.slice(0, -3);
        timeStr = timeStr.replace(/:/g, "")
        return timeStr
    }

    function tutorColor(tutorId) {
        if (tutorColorMap[tutorId]) {
            return "session " + tutorColorMap[tutorId];
        } else {
            tutorColorMap[tutorId] = tutorColorMap.unusedColors.pop();
            return "session " + tutorColorMap[tutorId];
        }

    }
    var tutorColorMap = {
        unusedColors: ['tutor-1', 'tutor-2', 'tutor-3', 'tutor-4', 'tutor-5', 'tutor-6']
    }
</script>
<button onclick="calculateSlotAlignment()">calculateSlotAlignment</button>
{% endblock %}
{% endblock %}