/*************************
 * GRID SCHEDULE LAYOUT
 *************************/
@media screen and (min-width: 700px) {
  .schedule {
    height: calc(150vh); /*adjusts vertical height of schedule */
    display: grid;
    grid-gap: .1em;
    grid-template-rows: [tracks] auto [time-0800] 1fr  [time-0815] 1fr 
                                      [time-0830] 1fr  [time-0845] 1fr 
                                      [time-0900] 1fr  [time-0915] 1fr 
                                      [time-0930] 1fr  [time-0945] 1fr 
                                      [time-1000] 1fr  [time-1015] 1fr 
                                      [time-1030] 1fr  [time-1045] 1fr
                                      [time-1100] 1fr  [time-1115] 1fr 
                                      [time-1130] 1fr  [time-1145] 1fr
                                      [time-1200] 1fr  [time-1215] 1fr 
                                      [time-1230] 1fr  [time-1245] 1fr
                                      [time-1300] 1fr  [time-1315] 1fr 
                                      [time-1330] 1fr  [time-1345] 1fr
                                      [time-1400] 1fr  [time-1415] 1fr 
                                      [time-1430] 1fr  [time-1445] 1fr
                                      [time-1500] 1fr  [time-1515] 1fr 
                                      [time-1530] 1fr  [time-1545] 1fr
                                      [time-1600] 1fr  [time-1615] 1fr 
                                      [time-1630] 1fr  [time-1645] 1fr
                                      [time-1700] 1fr  [time-1715] 1fr 
                                      [time-1730] 1fr  [time-1745] 1fr                                      
                                      ;
    			/* Note 1:
    			Use 24hr time for gridline names for simplicity
    
    			Note 2: Use "auto" instead of "1fr" for a more compact schedule where height of a slot is not proportional to the session length. Implementing a "compact" shortcode attribute might make sense for this!
    			Try 0.5fr for more compact equal rows. I don't quite understand how that works :)
    			*/
    grid-template-columns: [times] 4em  [mon-1-start] 1fr [mon-1-end mon-2-start] 1fr [mon-2-end] 10px  
                                        [tue-1-start] 1fr [tue-1-end tue-2-start] 1fr [tue-2-end] 10px
                                        [wed-1-start] 1fr [wed-1-end wed-2-start] 1fr [wed-2-end] 10px
                                        [thu-1-start] 1fr [thu-1-end thu-2-start] 1fr [thu-2-end] 10px
                                        [fri-1-start] 1fr [fri-1-end fri-2-start] 1fr [fri-2-end] 10px 
                                        [sat-1-start] 1fr [sat-1-end sat-2-start] 1fr [sat-2-end] 10px
                                        [sun-1-start] 1fr [sun-1-end sun-2-start] 1fr [sun-2-end] 10px                         
                                       ;
  }



}

.time-slot {
  display: none;
}

.track-slot {
  display: none;
  /* hidden on small screens and browsers without grid support */
}

.day{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
} 


@supports (display: grid) {
  @media screen and (min-width: 700px) {

    .day{
      display: none;
    }

    .time-slot {
      display: block;
      grid-column: times;
    }

    .track-slot {
      display: block;
      padding: 10px 5px 5px;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: rgba(255, 255, 255, 0.9);
      text-align: center;
    }
  }
}
/* Small-screen & fallback styles */
.session {
  margin-bottom: 1em;
  cursor: pointer;
}

@supports (display: grid) {
  @media screen and (min-width: 700px) {
    .session {
      margin: 0;
    }
  }
}
/*************************
 * VISUAL STYLES
 * Design-y stuff ot particularly important to the demo
 *************************/
/* h2{display:inline;} */

body {
  padding: 10px 50px 0 50px;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.5;
}

h2,h3{
  text-align: center;
}

.session {
  padding: 0 .15em 0 .2em;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  border: .5px solid black;
}


.session-lead,
.session-time,
.session-track,
.session-presenter {
  display: block;

}

.session-lead,
.time-slot {
  margin: 0;
  font-size: 1em;
}

.session-lead a {
  color: #fff;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
.session-lead a:hover {
  font-style: italic;
}
.session-lead a:focus {
  outline: 2px dotted rgba(255, 255, 255, 0.8);
}

.track-slot,
.time-slot {
  font-weight: bold;
  font-size: .75em;
}

.tutor-1 {
  background-color: #1259B2;
  color: #fff;
}

.tutor-2 {
  background-color: #687f00;
  color: #fff;
}

.tutor-3 {
  background-color: #544D69;
  color: #fff;
}

.tutor-4 {
  background-color: #c35500;
  color: #fff;
}

.tutor-5 {
  background-color: #7f0068;
  color: #fff;
}

.tutor-6{
  background-color: #695f4d;
  color: #fff;
}

.tutor-7 {
  background-color: #3f12b2;
  color: #fff;
}

.tutor-8 {
  background-color: #12b26a;
  color: #fff;
}

.tutor-9{
  background-color: #b5147f;
  color: #fff;
}



.track-all {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: #ccc;
  color: #000;
  box-shadow: none;
}

.text {
  max-width: 750px;
  font-size: 18px;
  margin: 0 auto 50px;
}

.meta {
  color: #555;
  font-style: italic;
}

.meta a {
  color: #555;
}

hr {
  margin: 40px 0;
}

/* modal styles */
#modalContent .tutor-name{
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

#modalContent .courses, #modalContent .langs{
  font-weight: bold;
  margin: 5px 0 5px 0;
  font-size: 1.5em;
}

#modalContent .course-list, #modalContent .lang-list{

  margin-left: 10px;

}