{% extends "main/main_base.html" %} {# main/main_base.html extends layout.html #}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
{% block title %}{{app_name}}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('main.home_page') }}">Home</a> >
    <a href="{{ url_for('admin.admin_page') }}">Admin Page</a> >
    > Edit User
</li>
{% endblock %}


{% block page_content %}

<div class="row">
    <div class="col-sm-7 col-md-6 col-lg-5 col-centered">
        <h1>Edit Tutor</h1>

        <form action="" method="POST" class="form" role="form">
            {{ form.hidden_tag() }}
            {{render_field(form.first_name)}}
            {{render_field(form.last_name)}}
            {{render_field(form.email)}}
            {{render_field(form.password)}}
            {{render_field(form.roles)}}
            {{render_field(form.phone)}}
            {{render_field(form.remove_time_id)}}

            {% for childform in form.dates %}
                <fieldset class="form-group">
                {% for field in childform %}
                    {{render_field(field)}}
                {% endfor %}
                <a class="remove-time" name="remove_time_link" id="{{loop.index}}">Remove {{loop.index}}</a>
                </fieldset>
            {% endfor %}     

             

            {{render_submit_field(form.add_time)}}
            {{render_submit_field(form.remove_time)}}
            {{render_submit_field(form.submit)}}

        </form>
    </div>
</div>
<br/>
<script>
    document.getElementsByName('remove_time')[0].style.display='none'
    var collection = document.getElementsByName('remove_time_link');
    for(var x=0; x < collection.length; x++){
        console.log('DDDDDD')
        collection[x].addEventListener('click',function(){clickMe(this)})
    }

    function clickMe(elem){
        document.getElementById("remove_time_id").value = elem.id;
        document.getElementsByName("remove_time")[0].click();
    }
</script>
<style>
    .remove-time{
        cursor: pointer;
    }
</style>
{% endblock %}