{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block title %}{{app_name}}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('main.home_page') }}" >Home</a> > 
  > Admin Tools
</li>
{% endblock %}


{% block page_content %}

  <a class="btn btn-default" href="{{ url_for('admin.admin_list_users') }}">Users</a>

  <a class="btn btn-default" href="{{ url_for('admin.admin_list_roles') }}">Roles</a>

  <a class="btn btn-default" href="{{ url_for('admin.admin_list_courses') }}">Courses</a>

  <a class="btn btn-default" href="{{ url_for('admin.admin_list_languages') }}">Languages</a>

{% endblock %}