{% extends "main/main_base.html" %} {# main/main_base.html extends layout.html #}
{% block extra_css %}
<style>
  form {
    margin: 10px 0
  }
</style>
{% endblock %}
{% block title %}{{app_name}}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('main.home_page') }}">Home</a> >
  <a href="{{ url_for('admin.admin_page') }}">Admin Page</a>
  > List Roles
</li>
{% endblock %}

{% block page_content %}
<h1>List Courses</h1>
<div class="container">
  <!-- margin bottom kludge -->
  <div class="row" style="margin-bottom:10px"> 
    <div class="col-sm-12 text-right">
      <a class="btn btn-default btn-primary" href="{{ url_for('admin.admin_create_course') }}">Create Course</a>
       <br>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        {% for course in courses  %}
        <tr>
          <td>{{course.name}}</td>
          <td><a href="{{ url_for('admin.admin_edit_course', course_id=course.id) }}">edit</a></td>
          <td><a href="{{ url_for('admin.admin_delete_course', course_id=course.id) }}">delete</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>



{% endblock %}