{% extends "main/main_base.html" %} {# main/main_base.html extends layout.html #}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
{% block title %}{{app_name}}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('main.home_page') }}">Home</a> >
    <a href="{{ url_for('admin.admin_page') }}">Admin Page</a> >
    <a href="{{ url_for('admin.admin_list_users') }}">List Users</a> >
    > Create Tutor
</li>
{% endblock %}


{% block page_content %}

<div class="row">
    <div class="col-sm-7 col-md-6 col-lg-5 col-centered">
        <h1>Create Tutor</h1>

        <form action="" method="POST" class="form" role="form">
            {{ form.hidden_tag() }}
            {{render_field(form.first_name)}}
            {{render_field(form.last_name)}}
            {{render_field(form.email)}}
            {{render_field(form.password)}}
            {{render_field(form.roles)}}
            {{render_field(form.phone)}}
            {{render_checkbox_field(form.display_in_sched)}}
            
            {% for childform in form.dates %}
                <fieldset class="form-group">
                {% for field in childform %}
                    {{render_field(field)}}
                {% endfor %}
                </fieldset>
            {% endfor %}     

             

            {{render_submit_field(form.add_time)}}
            {{render_submit_field(form.submit)}}

        </form>
    </div>
</div>
<br/>


{% endblock %}