{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block title %}{{app_name}}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('main.home_page') }}" >Home</a> > 
  > Admin Page
</li>
{% endblock %}


{% block page_content %}
  <h1>Admin Page</h1>
  <a class="btn btn-default" href="{{ url_for('admin.admin_list_users') }}">List Users</a>
  <a class="btn btn-default" href="{{ url_for('admin.admin_create_user') }}">Create User</a>
  <a class="btn btn-default" href="{{ url_for('admin.admin_list_roles') }}">List Roles</a>
  <a class="btn btn-default" href="{{ url_for('admin.admin_create_role') }}">Create Role</a>
{% endblock %}